<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293871650531-8ta2uqb0fmi690kuo6eoqpnda0remm0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293871650531-8ta2uqb0fmi690kuo6eoqpnda0remm0m</string>
	<key>API_KEY</key>
	<string>AIzaSyCiOkGYL6GVuX5HpXPUssDC-d964CgKfRM</string>
	<key>GCM_SENDER_ID</key>
	<string>293871650531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-96412</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-96412.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293871650531:ios:be15dfe75e91e4b152a7d6</string>
</dict>
</plist>